# user
lib/*.dll
src/lib/**

# .sln file
src/RegionKit.sln

# plugins copied into mod folder
mod/newest/plugins/**
!mod/newest/plugins/Newtonsoft.Json.dll

# unity assetbundle build stuff
mod/**/*.manifest
mod/assets/regionkit/regionkit