# user
lib/**
src/lib/**

# .sln file
src/RegionKit.sln

# plugins copied into mod folder
mod/newest/plugins/**

# unity assetbundle build stuff
mod/**/*.manifest
mod/assets/regionkit/regionkit

# editor config stuff
.vs/**